*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 10fr;
}

.admin-menu{
    background-color: #141e41;
    padding: 15px;
}

.admin-corpo{
    background-color: #bab5b5;
    overflow-y: scroll;
    padding: 15px;
}

nav ul{
    padding: 5px;
}

nav ul li{
    list-style-type: none;
    padding: 6px 10px;

}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 4px;

}

nav ul li a:hover{
    font-weight: bold;
}

.admin-logo{
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.admin-logout{
    color: #FFF;
    font-size: 1.2rem;
    display: grid;
    
    
}

.admin-logout i{
    cursor: pointer;
}

.admin-logout i:hover{
    color:black
}

.menu-ativo{
    font-weight: bold;
}
.grid-professores{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.grid-professores input{
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    /* border: none; */
}

.grid-professores select{
    width: 100%;
    padding: 7px 12px;
    border-radius: 4px;
    /* border: none; */
}

.btn-cadastrar{
    padding: 8px 12px;
    background-color: forestgreen;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.div-cep{
    display: flex;
}

.input-cep{
   border-radius: 4px 0px 0px 4px !important;
   border-right: 0 !important;

}

.btn-cep{
    padding: 6px 10px;
    background-color: #141e41;
    border: 1px solid #fff;
    color: #FFF;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.tabs{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}


.titulo-principal{
    margin-bottom: 10px;
    border: 1px solid #000;
    border-bottom: none;
    padding: 3px 10px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
   
}

.tab-ativo{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-weight: bold;
}


.titulo-texto{
    margin: 7px;
    
}

#div-listagem{
    display: none;
}

.div-professores{
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
}



#tabela-listagem table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

#tabela-listagem table td, #tabela-listagem table th{
    border: 1px solid #ddd;
    padding: 8px;
}

#tabela-listagem table tr:nth-child(even){
background-color: #f2f2f2;
}

#tabela-listagem table tr:hover{
background-color: #ddd;
}

#tabela-listagem table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4e73df;
    color: white;
}

.btn-visualizar{
    cursor: pointer;
    padding: 6px 12px;
    background-color: #4ea5df;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}